.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.main-centered {
    gap: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-img {
    mix-blend-mode: multiply;
}